* {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: silver;
}

body,
#sidebar,
#logo,
#sidebar-options,
#sidebar-options > div,
#header,
#main-content,
#projects,
#announcements-trending {
    display:grid;
}

body {
    grid-template: 1fr 8fr / 1fr 5fr;
    height: 98vh;
    background-color: black;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-template: 1fr 9fr / 1fr;
    border: 1px solid silver;
    border-radius: 0.5em;
    margin: 0.5em 0em;
}

#logo {
    grid-template: 1fr / 0.5fr 1fr;    
    align-items: center;
    border: 1px solid;
    border-radius: 0.5em;
}

#logo img {
    filter: invert(); 
    width: 60px;
    justify-self: end;
}

#logo p {
    margin-left: 2em;
}

#sidebar-options {
    grid-template: repeat(9, 0fr) / 1fr;
    margin: 5em 0em;
    justify-self: center;

    height: fit-content;

    align-self: start;
}

#sidebar-options > div {
    grid-template: 1fr / 1fr 2fr;
    align-items: center;
}

#sidebar-options img {
    filter: invert();    
    width: 2em;
    justify-self: start;
}

#header {
    border: 1px solid silver;
    grid-column: 2 / 3;
    border-radius: 0.5em;
    margin: 0.5em 0.5em;

    grid-template: 1fr 1fr / repeat(5, 1fr);
}

#main-content {
    grid-template-columns: 3fr 1fr;
}

#projects {
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-column: 1 / 1;
    gap: 0.5em;
    margin: 10px 5px 5px 10px;
}

#projects div {
    border: 1px solid silver;
    border-radius: 0.5em;
    place-content: center;
}

#projects p {
    margin: 2em;
}

#announcements-trending {
    grid-template: 1.5fr 1fr / 1fr;
    grid-column: 2 / 2;
    gap: 0.5em;
    margin: 0.5em 0.5em;
}

#announcements-trending div {
    border: 1px solid silver;
    border-radius: 0.5em;
}